@charset "utf-8";
/*
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

html {
    height: 100%;
    background-color: #fff;
    background-size: cover;
    background: radial-gradient(circle, #fff 20%, #ccc);

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    font-weight: bold;
}

.main_calc{
    width: 30vw;
    height: auto;
    background-color: #fff);
    background: linear-gradient(#fff, #eee);
    ruby-align: center;
    padding: 1.5vw 3vw;
    box-shadow: 0px 10px 18px #333;
}

.top_calc{

}

.layar{
    height: 10vh;
    width: 30vw;
    background-color: #d2d2d2;
    border-radius: 5%;
    box-shadow: 0px 5px 18px #333;

    font-size: 1.8vw;
}

.tombol ul li{
    background-color: #e5e5e5;
    display: inline;
    border-radius: 25vw 25vw 45vw 45vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    min-width: 2.5vw;
    min-height: 2vh;
}

.tombol .operator{
    background-color: #7a7afa;
}

.tombol .key_del{
    background-color: #fc624b;
}

.tombol .key_ac{
    background-color: #fc624b;
}